@tailwind base;
@tailwind components;
@tailwind utilities;

/**** <====\ == ! | CSS RESET | ! == /====> ****/

#root {
  width: 100vw;
  height: 100%;
}
html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

  /**********************************************************************/

  /****                                                              ****/
  /**** <<===== === ! | THE APP STYLING STARTS HERE | ! === =====>>  ****/
  /**** <<=====                                                      ****/
  /****               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^                   ****/

.App {
  height: 100vh;
  overflow: hidden;
}
.page-main-section {
  padding-bottom: 200px;
  height: 100vh;
}


  /* <--- --- | HEADER-BAR COMPONENT STYLING | --- ---> */

.application-header-bar {
  width: 100%;
}
.application-header-bar-inner {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 27px;
}
.application-header-bar-company-logo {
  width: 130px;
  height: 58px;
}
.application-header-bar-empty-side {
  width: 100%;
}



  /* <--- --- | PROCESS MICRO COPY COMPONENT STYLING | --- ---> */
.process-micro-copy-holder {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
 
}

@media (max-width: 767px) {
.process-micro-copy-holder {
display: none;
}
}


  /* <--- --- | HEADER-BAR COMPONENT STYLING | --- ---> */

  .buttons-holder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    margin-bottom: 15px;
  }
  
  /* .buttons-holder-h {
    margin-top: 20px;
    width: 100%;
  } */
  
  .buttons-holder-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
  }

  .btn-holder-next {
    color: rgb(228, 228, 228);
    width: 178px;
    height: 55px;
    font-size: 23px;
  }
  .btn-holder-back{
    color: rgb(136, 136, 136);
  }


    /* <--- --- | PAGE LEFT SIDE SEARCH COMPONENT STYLING | --- ---> */

    .page-left-side-wrapper{
      width: 95%;
      max-width: 775px;
      height: 80%;
      margin: 20px 10px 3px 50px;
    }
  
    .page-left-side-main-section {
      height: 170px;
    }
  
    .page-left-side-search-bar {
      margin: 20px 0px;
    }
  
    .icon{
      margin-left: auto;
      margin-right: 20px;
    }
  
    .line {
      width: 100%;
      height: 2px;
      background-color: grey;
    }
  
    .search-result-container-scroll {
      width: 100%;
      max-width: 600px;
      height: 150px;
      overflow: auto;
    }
  
    .search-result-container-scroll::-webkit-scrollbar {
      width: 5px;
      background-color: #c4c4c4;
      border-radius: 5px;
    }
  
    .search-result-container-scroll::-webkit-scrollbar-thumb {
      background-color: #551C50;
      border-radius: 5px;
    }
  
    .line-2{
      margin-top: 50px;
      margin-bottom: 20px;
    }
  
    .page-left-side-bottom-section {
      height: 100px;
    }
  
    @media only screen and (max-width: 1024px) {
      .page-left-side-wrapper{
        max-width: 650px;
      }
  
      .page-left-side-main-section {
        height: 150px;
      }
  
      .search-result-container-scroll {
        max-width: 450px;
        height: 120px;
      }
    }
  
    @media only screen and (max-width: 768px) {
      .page-left-side-wrapper{
        max-width: 500px;
        margin: 20px 5px 3px 10px;
        padding: 10px;
      }
  
      .page-left-side-main-section {
        height: 120px;
      }
  
      .page-left-side-search-bar {
        margin: 5px 0px;
      }
  
      .icon{
        margin-left: auto;
        margin-right: 10px;
      }
  
      .line {
        height: 1px;
      }
  
      .search-result-container-scroll {
        max-width: 350px;
        height: 100px;
      }
  
      .page-left-side-bottom-section {
        height: 150px;
      }
    }
  
    @media only screen and (max-width: 480px) {
      .page-left-side-wrapper{
        max-width: 200px;
        margin: 20px 5px 3px 10px;
        padding: 5px;
      }
  
      .page-left-side-main-section {
        height: 100px;
      }
  
      .page-left-side-search-bar {
        margin: 3px 0px;
      }
  
      .icon{
        margin-left: auto;
        margin-right: 5px;
      }
  
      .line {
        height: 0.5px;
      }
  
      .search-result-container-scroll {
        max-width: 250px;
        height: 80px;
      }
  
      .page-left-side-bottom-section {
        height: 100px;
      }
    }
  


    /* <--- --- | PAGE LEFT SIDE KIT TOP SECTION COMPONENT STYLING | --- ---> */
    .page-left-side-top-section {
      width: 80%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .page-left-side-top-section-amount-window-holder {
      width: 160px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    .kit-amount-window {
      width: 64px;
      height: 35px;
      text-align: center;
      border-radius: 10px;
      padding: 0 10px; 
    }
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-moz-inner-spin-button,
    input[type="number"]::-moz-outer-spin-button {
      color: #551C50;
      border-radius: 10px;
      margin: 0 5px;
      height: 100%;
    }
        /* <--- --- | SEARCH BAR PRODUCT DISPLAY COMPONENT STYLING | --- ---> */

      .product-search-bar {
          display: flex;
          align-items: center;
          position: relative;
          left: 0;
          width: 100%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 5px;
          z-index: 1;
        }

        .product-search-bar-main-container {
          width: 80%;
          display: flex; 
          flex-direction: row;
        }

        .product-search-bar-h {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 5px;
          z-index: 1;
          margin-bottom: 10;
        }
        
        .product-search-bar-outter-wrapper {
          height: 42px;
          width: 570px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          padding: 5px 0px 0px 10px;
          z-index: 1;
          padding: 10px;
          box-sizing: border-box;
        }
        
      .product-search-bar-outter-wrapper:hover {
        background-color: #ffffff;
        border-radius: round;
      }

      .product-search-bar-select {
        width: 100px;
        height: 30px;
        cursor: pointer;
        margin-left: 15px;
        border-radius: round;
        overflow: hidden;
      }  
      .product-searchbar-clickable-space {
        display: flex;

      }
      
      .product-searchbar-clickable-space:hover {
        cursor: pointer;
        background-color: rgb(233, 233, 233);
      }

        /* Add a new class to style the search results container */
        .product-search-results {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 9999;
        }
    

          /* <--- --- |SEPARATE PRODUCTS RECEIPT COMPONENT STYLING | --- ---> */
      .separate-product-receipt-wrapper {
        width: 345px;
        height: 507px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 50px 0px 10px;
        text-align: center;

      }

      .product-receipt-products-display-section {
        width: 350px;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     
      }
      .products-receipt-products-holder {
        width: 340px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px; 
      }

               /* <--- --- |PRODUCT DISPLAY IN RECEIPT COMPONENT STYLING | --- ---> */    
      .product-display-receipt-wrapper {
        width: 400px;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .product-display-receipt-delete {
        border-right: 2px solid grey;
        padding-right: 8px;
      }
      .product-display-receipt-icon-minus :hover {
        cursor: pointer;
      }
      .product-display-receipt-main-cont {
        height: 40px;
        display: flex;
        align-items: flex-start;
        margin-left: 9px;
        border-bottom: 2px solid grey;
        padding-bottom: 5px;
      }
      .product-display-receipt-name {
        width: 152px;
        height: 32px;
        max-width: 175px;
        min-width: 175px;
        text-align: left;
      }
      .product-display-receipt-price {
        margin-left: 9px;
      }
      .product-display-receipt-amount {
        width: 24px;
        height: 17px;
        border: 0.5px solid black;
        border-radius: 3px;
        align-content: center;
        margin-left: 13px;
      }

      
          /* <--- --- |KIT RECEIPT BOTTOM SECTION COMPONENT STYLING | --- ---> */
      .kit-receipt-bottom-price-details-holder {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        padding-left: 15px;
      }
      .kit-price-details-total-price {
        text-align: left;
      }


  /***  <==== === ! | LANDING PAGE | ! === ====>  ***/

  .landing-page-content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-page-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing-page-welcome-header {
    color: rgb(124, 124, 124);
  }
  .email-input-field {
    width: 370px;
    height: 45px;
  }

  .email-validation{
    color: red;
    position: absolute;
    margin-top: 190px;
  }

  .form-btn{
    color: rgb(228, 228, 228);
    margin-bottom: 108px;
  }

  
  /***  <==== === ! | TYPE OF ORDER PAGE | ! === ====>  ***/
  .TypeOfOrder-page-content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TypeOfOrder-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .TypeOfOrder-page-route-choice-holder {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 177px;
  }

  .TypeOfOrder-page-header {
    width: 740px;
    text-align: center;
  }

  .TypeOfOrder-page-route-choice-hold{
    margin-bottom: 173px;
  }

  .TypeOfOrder-page-choice-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
  }


  .route-choice-input {
    width: 45px;
    height: 45px;
  }
  input[type='radio'] {
    width: 40px;
    height:40px;
  }
  
     /***  <==== === ! | PRODUCT SELECTION PAGE | ! === ====>  ***/

    .page-widgets-holder {
      display: flex;
      justify-content: space-between;
    }



     /***  <==== === ! | PRODUCT SELECTION PAGE (SP) | ! === ====>  ***/
  

    
    /***  <==== === ! | CONTACTS PAGE | ! === ====>  ***/

    .contact-info-page-widgets-holder {
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
    }


          /* <--- --- | PAGE LEFT SIDE CONTACTS COMPONENT STYLING | --- ---> */
    
          .page-left-side-contacts-wrapper {
            width: 775px;
            height: 510px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 40px 70px;
            margin: 20px 10px 3px 50px;
          }
          
          .contacts-page-heading {
            margin-bottom: 10px
          }
          
          .page-left-side-contacts-column {
            width: 327px;
          }
          
          .page-left-side-contacts-left-column {
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
          }
          
          .personal-contact-info-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 55px;
          }
          
          .address-contact-info-block {
            width: 100%;
          }
          
          .contacts-page-small-inputs-holder {
            width: 275px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;
          }
          
          .contacts-page-input-field {
            width: 275px;
            height: 32px;
            margin-top: 5px;
            margin-bottom: 15px;
          }
          
          .contacts-page-input-field-small {
            width: 130px;
          }
          
          .address-contact-info-block {
            display: flex;
            flex-direction: column;
          }
          
          /* Media Query */
          @media (max-width: 767px) {
            .final-check-product-table-name-field {
              font-size: 15px;
            }
            .final-check-product-table-head .final-check-product-table-amount-field,
            .final-check-product-table-head .final-check-product-table-delete-field {
              display: none;
            }
            
            .final-check-product-table-head .final-check-product-table-name-field,
            .final-check-product-table-head .final-check-product-table-total-field {
              width: 50%;
            }
            
            .final-check-product-table-head .final-check-product-table-name-field,
            .final-check-product-table-head .final-check-product-table-total-field,
            .final-check-product-table-head .final-check-product-table-delete-field {
              text-align: center;
            }
          }
    
     /***  <==== === ! | FINAL CHECK PAGE | ! === ====>  ***/
      /* <--- --- | PAGE LEFT SIDE - FINAL CHECK COMPONENT STYLING | --- ---> */       
    
      .page-left-side-contacts-top-section {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
       }
       .page-left-side-contacts-add-more-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
       }      
      .final-check-product-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 6px;
      }
      .final-check-product-table-row .final-check-product-table-head {
        height: 45px;
        padding: 7px 2px;
      }
      .final-check-product-table-row  {
        height: 54px;
        display: flex;
        align-items: center;
        padding: 5px;
        border-bottom: 1.3px solid #B5B5B4;
      }
      .final-check-product-table-I-tag-field {
        width: 56px;
        
      }
      .final-check-product-table-name-field {
        width: 385px;
        
      }
      .final-check-product-table-total-field {
        width: 116px;
        padding-left: 14px;
       
      }
      .final-check-product-table-amount-field {
        width: 123px;
      
      }
      .final-check-product-table-amount-field-flex {
        display: flex;
      }
  
      .final-check-table-products-holder {
        height: 230px;
        visibility: visible;
        overflow-x: scroll;
      }
  
  
      /* Media Query */
  @media (max-width: 767px) {
  
    .final-check-product-table-head {
      display: none;
    }
  
    .final-check-product-table-row-item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #ddd;
      padding: 15px 0;
      margin-top: 0px;
    }
    
    .final-check-product-table-I-tag-field {
      display: none;
    }
    
    .final-check-product-table-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
    }
    
    .final-check-product-table-name-field {
      font-size: 16px;
      text-align: center;
      margin-bottom: 5px;
    }
    
    .final-check-product-table-total-field {
      display: flex;
      font-size: 20px;
      margin-left: 30px;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    
    .final-check-product-table-amount-field {
      position: absolute;
      margin-left: 150px;
      margin-bottom: 5px;
      margin-top: 65px;
    }
    
    .final-check-product-table-delete-field {
      position: absolute;
      margin-left: 300px;
      margin-bottom: 50px;
      margin-top: 65px;
    }
  }   



          /***  <==== === ! | NAME YOUR KIT PAGE | ! === ====>  ***/

      .page-left-side-name-kit{ 
        width: 775px;
        height: 510px;
        padding-left: 70px;
      }
      .name-it-page-empty-space {
        height: 20px;
        width: 200px;
      }
      
      
       /** <--- --- | NAME YPUR KIT PAGE LEFT SIDE COMPONENT STYLING | --- ---> */     
      .page-left-side-name-kit-main-content {
        display: flex;
        flex-direction: column;
      }
      .page-left-side-name-kit-top-section {
        width: 60%;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .page-left-side-name-kit-bottom-section {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .line-name-it {
        width: 540px;
      }
      .name-it-choice-holder {
        display: flex;
        align-items: center;
      }
      .name-it-page-ok-btn {
        height: 35px;
        width: 120px;
        align-self: center;
        margin-top: 15px;
        color: rgb(228, 228, 228);
      }


            /** <--- --- | NAME YOUR KIT STATIC RECEIPT COMPONENT STYLING | --- ---> */   

      .name-it-receipt-wrapper {
        background-color: transparent;
      }
      .name-it-receipt-icon {
        font-size: 74pt;
      }
      .name-it-receipt-static-products-display-section {
        margin-top: 55px;
      }
      .line-thick {
        height: 4px;
        width: 310px;
        margin-top: 50px;
        margin-bottom: 10px;
      }
      .name-it-receipt-static-price-holder {
        margin-top: 20px;
      }



     
     /* <--- --- | PAGE LEFT SIDE POP-UP MESSAGE COMPONENT STYLING | --- ---> */ 
        
    .final-check-page-pop-up-wrapper {
      width: 600px;
      height: 200px;
      position: absolute;
      top: 34%;
      left: 30%;
      background-color: #ffffff;
      border: 1px solid black;
      padding: 30px 50px;
      
    }
    .final-check-pop-up-top-section {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      
    }
    
           /* <--- --- | FINAL CHECK ITEM DISPLAY COMPONENT STYLING | --- ---> */      
    .final-check-product-table-amount-btn {
      width: 45px;
      height: 25px;
      border: 1px solid black;
      align-content: center;
      margin-right: 19px;
      margin-left: 19px;
    }
    .final-check-product-table-price {
      width: 32px;
      height: 21.18px;
      text-align: center;
      align-content: center;
    }
    .trash-icon:hover {
      cursor: pointer;
    }




      /***  <==== === ! | OUTRO PAGE | ! === ====>  ***/
    
    




     /***  <==== === ! | DELETE LATER | ! === ====>  ***/
    .receipt-holder {
      display: flex;
      flex-direction: column;
      margin: 20px 50px 3px 10px;
      text-align: center;
    }

    .ReceiptPriceL{
      text-align: center;
    }

    .line-3{
    width: 310px;
    height: 2px;
    background-color: grey;
    margin-top: 50px;
    }

    .scroll-section{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .basket-scroll-section{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .basket-scroll-section-h{
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    .scroll-section::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #c4c4c4;
      border-radius: 5px;
    }

    .basket-scroll-section::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #c4c4c4;
      border-radius: 5px;
    }
    
    .scroll-section::-webkit-scrollbar-thumb {
      background-color: #551C50;
      border-radius: 5px;
    }

    .basket-scroll-section::-webkit-scrollbar-thumb {
      background-color: #551C50;
      border-radius: 5px;
    }
    
    .delivery-date-info-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .final-check-product-table {
      display: block;
      /* other CSS styles */
    }

    .item-display-basket {
      width: 90%;
      height: 75px;
      border-top: 1px solid rgba(223, 223, 223, 0.091);
      margin-bottom: 12px;
    }

    .type-of-order-box-icon {
      font-size: 25pt;
    }

    .page-left-side-contacts-wrapper {
      display: flex;
      flex-wrap: wrap; /* allow items to wrap to next line */
    }
    
    .page-left-side-contacts-column {
      flex: 1; /* occupy equal width */
    }
    
    @media (max-width: 640px) {
      .page-left-side-contacts-column {
        flex-basis: 100%;
        margin-bottom: 200px; 
        padding-bottom: 100px;
      }
    }

    .page-left-side-contacts-scroll-wrapper {
      overflow-x: auto;
      white-space: nowrap;
    }
    
    @media (pointer: coarse) {
      .page-left-side-contacts-scroll-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
      }
    }
    



    





    


